@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swar');

* {
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvitica, sans-serif;
}

h1 {
  text-align: center;
}

.App {
  background-color: wheat;
  color: black;
  margin: 10px;
}

